* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(./src/background.png);
    background-size: 100%;
}
:root {
    --main-color : #D81159;
    --sec-color : #0496FF;
    --third-color : #FFBC42;
    --scolor-light : #006BA6;
    --mcolor-dark : #8F2D56;
    
}
header{
    display: flex;
    justify-content: center;
    height: 200px;
}
.categorias{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.cantainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
}
.boxPelicula{
    cursor: pointer;
    width: 200px;
    margin: 18px auto;
}
.pelicula {
    width: 200px;
    height: 290px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
    position: relative;
}
.iframe{
    margin: 0 15px;
}
.pelicula:hover .description{
    display: block;
}
.pelicula img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dateAverage{
    display: none;
    position: absolute;
    justify-content: space-around;
    width: 200px;
}
.boxPelicula:hover .dateAverage{
    display: flex;
}
.dateAverage span{
    display: flex;
    justify-content: space-around;
    color: black;
    font-weight: 400;
    text-align: center;
    width: 70px;
    height: 26px;
    margin: 5px;
    background: transparent;
    text-align: center;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: inset 0px 0px 10px -9px #000000;
    box-shadow: 0px 5px 13px -7px #000000
}
.dateAverage span p{
    width: 100%;
    font-size: 0.8rem;
    margin: auto 0;
}
.color-green{
    color: rgb(30, 176, 35);
}
.dateAverage span p.color-orange{
    color: rgb(255, 60, 0);
}
.dateAverage span p.color-red{
    color: rgb(255, 0, 0);
}
.paginacion{
    display: flex;
    justify-content: center;
    margin: 16px;
}
.numPagina{
    width: 50px;
    height: 50px;
    border: 3px solid var(--main-color);
    text-align: center;
    box-shadow: 4px 4px 0px -1px #A3004F;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 1.8rem;
    margin: 0.6rem;
    padding-top: 2px;
}
.iconsearch {
    position: relative;
    top: 12px;
    left: -34px;
    color: #d81159;
}
.description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
.description h6{
    margin: 0;
    font-size: 1rem;
}
.description p{
    display: block;
    font-size: 0.8rem;
    overflow: auto;
    height: 72%;
    user-select: none;
}
.description p::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.description p::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--third-color);
}
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin: 1rem;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
   .container__input{
        display: flex;
        justify-content: center;
        margin: 1rem auto;
   }
   .input {
    border: 3px solid var(--main-color);
    border-radius: 20px;
    background-image: linear-gradient(120deg,rgb(255, 255, 255),rgb(255, 254, 216));
    color: rgb(127, 170, 170);
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    width: 400px;
    min-width: 200px;
   }
   
   .input:focus {
    outline-color: rgb(127, 170, 170);
   }
   /**OVERLAY**/
   .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .overflowX{
    margin: 50px;
    white-space: nowrap;
    overflow: auto;
  }
  .overflowX::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
  }

  .overflowX::-webkit-scrollbar-thumb{
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--third-color);
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }