* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --main-color : #D81159;
    --sec-color : #0496FF;
    --third-color : #FFBC42;
    --scolor-light : #006BA6;
    --mcolor-dark : #8F2D56;
    
}
.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.cantainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
}
.pelicula {
    width: 200px;
    height: 290px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
    position: relative;
}
.pelicula:hover .description{
    display: block;
}
.pelicula img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paginacion{
    display: flex;
    justify-content: center;
}
.numPagina{
    width: 50px;
    height: 50px;
    border: 3px solid var(--main-color);
    text-align: center;
    box-shadow: 4px 4px 0px -1px #A3004F;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 2rem;
    margin: 0.6rem;
}
.description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
.description h6{
    margin: 0;
    font-size: 1rem;
}
.description p{
    display: block;
    font-size: 0.8rem;
    overflow: auto;
    height: 72%;
    user-select: none;
}
.description p::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.description p::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--third-color);
}
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin: 1rem;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
   .container__input{
        display: flex;
        justify-content: center;
        margin: 2rem auto;
   }
   .input {
    border: 3px solid var(--main-color);
    border-radius: 20px;
    background-image: linear-gradient(120deg,rgb(254, 254, 254),rgb(228, 228, 228));
    color: rgb(127, 170, 170);
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    width: 400px;
    min-width: 200px;
   }
   
   .input:focus {
    outline-color: rgb(127, 170, 170);
   }